html {
  min-height: 100vh;
}


#panelStyles {
  padding: 15px 20px;
  color: #aaa;
}

#headerStyles {
  padding: 20px;
  font-size: 16px;
  background-color: #34c3ff;
  color: #fff;
}

#headerText {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  font-family: 'Aladin', cursive;
  line-height: 35px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
}

#scrollContainer {
  display: flex;
  overflow-x: scroll;
  max-width: 79vw;
  padding: 7px;
}

#eventCard {
  flex-shrink: 0;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#dashContainer {
  overflow-y: scroll;
  max-height: 93vh;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12px;
  background-color: #334155;
  color: #fff;
  text-align: center;
  line-height: 50px;
}


