html {
  min-height: 100vh;
}

body {
  overflow: scroll;
}

#heroBlock {
  background: hsla(0, 0%, 100%, 0.55); 
  backdrop-filter: blur(30px);
}

#heroBlock2 {
  background: hsla(0, 0%, 100%, 0.62);
  backdrop-filter: blur(30px);
}

#dashText {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  animation: fadeIn1 3000ms;
  -webkit-animation: fadeIn1 3000ms;
  -moz-animation: fadeIn1 3000ms;
  -o-animation: fadeIn1 3000ms;
  -ms-animation: fadeIn1 3000ms;
}

#dashLoginText {
  animation: fadeIn3 3000ms;
  -webkit-animation: fadeIn3 3000ms;
  -moz-animation: fadeIn3 3000ms;
  -o-animation: fadeIn3 3000ms;
  -ms-animation: fadeIn3 3000ms;
}

#dashImgFade {
  animation: fadeInImg 2000ms;
  -webkit-animation: fadeInImg 2000ms;
  -moz-animation: fadeInImg 2000ms;
  -o-animation: fadeInImg 2000ms;
  -ms-animation: fadeInImg 2000ms;
}

@keyframes fadeInImg {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#teamText {
  color: white;
  text-shadow: 1px 1px 1px rgb(28, 28, 28);
  font-size: 36px;
}

#teamDash {
  background-color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
}

#panelStyles {
  padding: 15px 20px;
  color: #aaa;
}

#headerStyles {
  padding: 20px;
  font-size: 16px;
  background-color: #34c3ff;
  color: #fff;
}

#headerText {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  font-family: 'Aladin', cursive;
  line-height: 40px;
  text-align: right;
}

#to {
  animation: fadeIn1 2s;
  -webkit-animation: fadeIn1 2s;
  -moz-animation: fadeIn1 2s;
  -o-animation: fadeIn1 2s;
  -ms-animation: fadeIn1 2s;
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#your {
  animation: fadeIn2 4s;
  -webkit-animation: fadeIn2 4s;
  -moz-animation: fadeIn2 4s;
  -o-animation: fadeIn2 4s;
  -ms-animation: fadeIn2 4s;
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }
}

#weekend {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  font-family: 'Aladin', cursive;
  font-size: 72px;
  animation: fadeIn3 4s;
  -webkit-animation: fadeIn3 4s;
  -moz-animation: fadeIn3 4s;
  -o-animation: fadeIn3 4s;
  -ms-animation: fadeIn3 4s;
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#aboutCardOne {
  animation: fadeIn1 1500ms;
  -webkit-animation: fadeIn1 1500ms;
  -moz-animation: fadeIn1 1500ms;
  -o-animation: fadeIn1 1500ms;
  -ms-animation: fadeIn1 1500ms;
}

#aboutCardTwo {
  animation: fadeIn2 2500ms;
  -webkit-animation: fadeIn2 2500ms;
  -moz-animation: fadeIn2 2500ms;
  -o-animation: fadeIn2 2500ms;
  -ms-animation: fadeIn2 2500ms;
}

#aboutCardThree {
  animation: fadeIn3 2500ms;
  -webkit-animation: fadeIn3 2500ms;
  -moz-animation: fadeIn3 2500ms;
  -o-animation: fadeIn3 2500ms;
  -ms-animation: fadeIn3 2500ms;
}

#team {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  font-family: 'Aladin', cursive;
  font-size: 38px;
  letter-spacing: 0.5px;
  font-stretch: extra-expanded;
}

#teamT {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  font-family: 'Aladin', cursive;
  font-size: 33px;
  font-stretch: extra-expanded;
}

#scrollContainer {
  display: flex;
  overflow-x: scroll;
  max-width: 79vw;
  padding: 7px;
}


#eventCard {
  flex-shrink: 0;
  border-radius: 10px; 
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: auto;
}

#innerEventCard {
  background: hsla(0, 0%, 100%, 0.55); 
  backdrop-filter: blur(30px);
  height: 100%;
}

#dashContainer {
  overflow-y: scroll;
  max-height: 94vh;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12px;
  background-color: #334155;
  color: #fff;
  text-align: center;
  line-height: 50px;
}


