html {
  min-height: 100vh;
}

#heroBlock {
  background: hsla(0, 0%, 100%, 0.55); 
  backdrop-filter: blur(30px);
}

#panelStyles {
  padding: 15px 20px;
  color: #aaa;
}

#headerStyles {
  padding: 20px;
  font-size: 16px;
  background-color: #34c3ff;
  color: #fff;
}

#headerText {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  font-family: 'Aladin', cursive;
  line-height: 40px;
  text-align: right;
}

#weekend {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  font-family: 'Aladin', cursive;
  font-size: 72px;
}

#team {
  color: rgb(247, 29, 145);
  text-shadow: 1px 1px 1px rgb(70, 16, 28);
  font-family: 'Aladin', cursive;
  font-size: 38px;
  letter-spacing: 1px;
  font-stretch: extra-expanded;
}

::-webkit-scrollbar {
  width: 0px;
}

#scrollContainer {
  display: flex;
  overflow-x: scroll;
  max-width: 79vw;
  padding: 7px;
}

#scrollContainer::-webkit-scrollbar {
  display: none;
}

#eventCard {
  flex-shrink: 0;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: auto;
}

#innerEventCard {
  padding: 10px;
  background: hsla(0, 0%, 100%, 0.55); 
  backdrop-filter: blur(30px);
  height: 100%;
}

#dashContainer {
  overflow-y: scroll;
  max-height: 93vh;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12px;
  background-color: #334155;
  color: #fff;
  text-align: center;
  line-height: 50px;
}


